<h1>Edit Plant</h1>
    
<form action="/plants/<%= @plant.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <h3>Name: <input type="text" name="name" value= "<%= @plant.name %>"></h3>
    <h3>Water: <input type="text" name="water" value= "<%= @plant.water %>"></h3>
    <h3>Light: <input type="text" name="light" value= "<%= @plant.light %>"></h3>
    <h3>Price: <input type="integer" name="price" value= "<%= @plant.price %>"></h3>

    <br>
        
    <label for="greenhouse">Grown at:</label>
        <select id="greenhouse" name="greenhouse">
            <option value="planternia"> Planternia</option>
            <option value="dans_nursery"> Dan's Nursery</option>
            <option value="balboa_park">Balboa Park</option>
        </select>
    </label>
    
    <br>
    <br>

    <input type="submit" name="submit" value="Update Plant">
</form>