<h2>My Plant Details: </h2>

<p>Plant Name: <%=@plant.name%></p>
<p>Water: <%=@plant.water%></p>
<p>Lght: <%=@plant.light%></p>
<p>Price: <%=@plant.price%></p>
<p>Grown at: <%=@plant.greenhouse_id%></p>

<a href="/plants/<%= @plant.id %>/edit"> <input type="submit" name="submit" value="Edit Plant"></a>


