<h2>My Plant Details: </h2>


<p>Plant Name: <%= @plant.name%></p>
<p>Water: <%= @plant.water%></p>
<p>Lght: <%= @plant.light%></p>
<p>Price: <%= @plant.price%></p>
<%# <p> Grown at: <%= plant.greenhouse.id%></p> 


<br>
<br>


<a href="/plants/<%= @plant.id %>/edit"> <input type="submit" name="submit" value="Edit Plant"></a>


<form method="POST" action="/plants/<%= @plant.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Plant">
</form>

<a href="/plants"><input type="submit" value="Return to Plants"></a>

