<h2>My Plant Details: </h2>


<p>Plant Name: <%= @plant.name%></p>
<p>Water: <%= @plant.water%></p>
<p>Lght: <%= @plant.light%></p>
<p>Price: <%= @plant.price%></p>

<label for="greenhouse">Grown at:</label>
    <select id="greenhouse" name="greenhouse">
        <option value="planternia"> Planternia</option>
        <option value="dans_nursery"> Dan's Nursery</option>
        <option value="balboa_park">Balboa Park</option>
    </select>


<br>
<br>

<a href="/plants/<%= @plant.id %>/edit"> <input type="submit" name="submit" value="Edit Plant"></a>

<form method="POST" action="/plants/<%= @plant.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Plant">
</form>

<a href="/plants"><input type="submit" value="Return to Plants"></a>

